    <body class= "list_page">

    <a href="/form">Create a new batch</a>

    <% for (var i = 0; i < batches.length; i++) { %>
      <% var currentBatch = batches[i]; %>
      <input type="hidden" name="db_id" value="<%= currentBatch._id %>">
      <div class="batch" id="batch_<%= currentBatch._id %>">
        <div>
          Cook Date: <%= currentBatch.cook_date %>
        </div>
        <div>
          Expiration Date: <%= currentBatch.exp_date %>
        </div>
        <div>
          Notes: <%= currentBatch.notes %>
        </div>
        <div>
          Candy Type: <%= currentBatch.candyType %>
        </div>
        <div>
          Sugar: <%= currentBatch.sugarId %>
        </div>
        <div>
          Butter: <%= currentBatch.butterId %>
        </div>
        <div>
          Almonds: <%= currentBatch.almondId %>
        </div>
        <div>
          Chocolate: <%= currentBatch.chocolateId %>
        </div>
        <div>
          Dust: <%= currentBatch.dustId %>
        </div>
        <div>
          Cook Order: <%= currentBatch.cook_order %>
        </div>
        <div>
          User: <%= currentBatch.user %>
        </div>
      </div>
        <div class="actions">
          <a class="deleteButton" id="<%= currentBatch._id %>">Delete</a>
          <a class="editButton" id="<%= currentBatch._id %>">Edit</a>
        </div>
      </div>
    <% } %>

  </body>
