
<body class= "list_page">

  <div class="row">
    <div class="small-6 small-centered columns scroll-div">

    <% for (var i = 0; i < batches.length; i++) { %>
      <% var currentBatch = batches[i]; %>


        <div id="panel_<%= currentBatch._id %>" class="panel callout">
          <input type="hidden" name="db_id" value="<%= currentBatch._id %>">
          <div class="batch" id="batch_<%= currentBatch._id %>">
            <div class="row">
                <div class="batch_data">
                  Batch Id: <%= currentBatch.batch %>
                </div>
                <div class="batch_data">
                  Candy Type: <%= currentBatch.candyType %>
                </div>
                <div class="batch_data">
                  Cook Date: <%= currentBatch.cook_date %>
                </div>
                <div class="batch_data">
                  Expiration Date: <%= currentBatch.exp_date %>
                </div>
                <div class="batch_data">
                  Notes: <%= currentBatch.notes %>
                </div>
                <div class="batch_data">
                  Sugar: <%= currentBatch.sugarId %>
                </div>
                <div class="batch_data">
                  Butter: <%= currentBatch.butterId %>
                </div>
                <div class="batch_data">
                  Almonds: <%= currentBatch.almondId %>
                </div>
                <div class="batch_data">
                  Chocolate: <%= currentBatch.chocolateId %>
                </div>
                <div class="batch_data">
                  Dust: <%= currentBatch.dustId %>
                </div>
                <div class="batch_data">
                  Cook Order: <%= currentBatch.cook_order %>
                </div>
                <div class="batch_data">
                  User: <%= currentBatch.user %>
                </div>
              </div>
              <ul class="actions button-group stack-for-small even-2">
                <li class="button_cont"><a class="deleteButton button small" id="<%= currentBatch._id %>">Delete</a></li class="button_cont">
                <li class="button_cont"><a class="editButton button small" id="<%= currentBatch._id %>">Edit</a></li>
              </ul>
          </div>
        </div>

    <% } %>
  </div>
  </div><!-- end of row -->

</body>