<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body class="form_page">

  <% include partials/top_bar_form.ejs %>

    <form method="POST" action="/form" id="batchForm">

    <input type="hidden" name="db_id" value="<%= currentBatch._id %>">

      <div class="row">
        <div class="large-12 columns">
          <label class="form_label">Type of Candy
            <select id="candyType" name="candyType" value="candyType" required>
              <option value="toffee">Toffee</option>
              <option value="caramel">Caramel</option>
              <option value="praline">Praline</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <label class="form_label">Production Date
            <input name="cook_date" id="cook_date" type="date" placeholder="" value="<%= currentBatch.cook_date %>" required/>
          </label>
        </div>
        <div class="large-4 columns">
          <label class="form_label">Expiration Date
            <input name="exp_date" id="exp_date" type="date" placeholder="" value="<%= currentBatch.exp_date %>" required/>
          </label>
        </div>
        <div class="large-4 columns">
          <label class="form_label">Cook order
            <input name="cook_order" id="cook_order" type="number" placeholder="" value="<%= currentBatch.cook_order %>" required/>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="form_label">Batch
            <input name="batch" id="batchNum" type="text" placeholder="" value="<%= currentBatch.batch %>" required/>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="form_label">Prepared By</label>
          <input name="user" id="user" type="text" placeholder="" value="<%= currentBatch.user %>" required/>
        </div>
      </div>

      <br/>
      <br/>

      <div class="row">
        <div class="small-12 columns">
          <h6 class="ingredient_heading">Ingredients</h6>
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="form_label right inline">Sugar</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="sugarId" id="sugarId" placeholder="lot infomation" value="<%= currentBatch.sugarId %>" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="form_label right inline">Butter</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="butterId" id="butterId" placeholder="lot infomation" value="<%= currentBatch.butterId %>" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="form_label right inline">Almonds</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="almondId" name="almondId" placeholder="lot infomation" value="<%= currentBatch.almondId %>" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="form_label right inline">Chocolate</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="chocolateId" name="chocolateId" placeholder="lot infomation" value="<%= currentBatch.chocolateId %>" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="form_label right inline">Almond Dust</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="dustId" id="dustId" placeholder="lot infomation" value="<%= currentBatch.dustId %>" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="form_label">Production Notes
            <textarea type="text" name="notes" id="notes"  placeholder="" required><%= currentBatch.notes %></textarea>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <ul class="button-group even-2">
            <li><input id="submitBtn" class="button" type="submit" value="Submit"></li>
            <li><input id="resetBtn" class="button" type="edit" value="Reset"></li>
          </ul>
        </div>
      </div>

    </form>

    <% include partials/scripts.ejs %>
  </body>
</html>
